@font-face{
    font-family: 'raleway-regular';
    src: url('src/polices/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'raleway-bold';
    src: url('src/polices/Raleway/static/Raleway-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'raleway-semibold';
    src: url('src/polices/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}

body{
    font-family: raleway-regular, 'Arial Black', Impact, serif;
    margin: 0;
}

#bloc_page{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

h1, h2{
    font-family: raleway-semibold;
    font-size: 1.3rem;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 0.9rem;
}

.small{
    font-size: 1rem;
}

@media only screen and (max-width: 420px) {

    #bloc_page{
        padding: 0;
        font-size: 4vw;
    }

}

/* ------------------------------------------------------------------------
 ----------HEADER----------------------------------------------------------
 ------------------------------------------------------------------------*/

header{
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
    display: grid;
    align-items: center; /* Centrer verticalement  */
    box-sizing:content-box;
    margin: auto;
}

nav{
    grid-area: navbar;
    margin-left: 1rem;
}

.inscription{
    grid-area: button;
    font-weight:700;
    font-family: raleway-semibold;
}

header a{
    display: inline-block;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    border-top: 3px solid transparent;    
    color:#0065FC;
}

nav a{
    width: 7rem;
}

header a:visited{
    color:#0065FC;
}

.lien1{
    border-top: 3px solid #0065FC;
}

.lien2, .lien2:visited{
    color: gray;
}

.lien2:hover{
    border-top: 3px solid #0065FC;
    color:#0065FC;
}

.lien_logo{
    grid-area: logo;
/*     width: 7rem;
    height: auto; */
    padding: 0;
}

#logo_Reservia img{
    width: 100%;
    height: auto;
/*     margin-right: 1rem; */
}

h2{
    margin: 0;
}

/*--------SMARTPHONE----------------------------------------------------*/
/* @media screen and (max-device-width: 420px){ */
@media only screen and (max-width: 690px) {

    header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";  
    }

    #logo_Reservia{
        margin-left: 1rem;
    }

    nav{
        margin: 0;
        display: flex;
    }

    nav a{
        border-top: inherit;
        border-bottom: 3px solid #F2F2F2;
    }

    .lien2:hover{
        border-top: inherit;
        border-bottom: 3px solid #0065FC;
    }

    #logoReservia{
        margin-left: 1rem;
    }

    .lien1{
        border-top: inherit;
        border-bottom: 3px solid #0065FC;
    }
    
    .lien1, .lien2{
        width: 50%;
    }
} 
    
/* ------------------------------------------------------------------------
 ----------SECTION RECHERCHE-----------------------------------------------
 ------------------------------------------------------------------------*/

.search{
    height: 2.5rem;
    display: inline-flex;
}


.border_focus{
    display:inline-flex;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid #F2F2F2;
    border-right: none;
    overflow: hidden;
}

.search_icon{
    display: flex;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
}

.search_text{
    border: #F2F2F2  1px solid;
    border-right: none;
    border-left: none;
}

.search_text:focus{
    outline: none;
}

.border_focus:focus-within{
    border: 1px solid #0065FC;
    border-right: none;
}

.search_format_text{
    font-size: 1rem;
    font-weight: bold;
}

.search_button{
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    background-color: #0065FC;
    cursor: pointer;
    color: white;
}

.search_button2{
    position:absolute;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

/*--------SMARTPHONE----------------------------------------------------*/
@media only screen and (max-width: 420px){

    .section_recherche{
        padding: 1rem;
    }

    .search{
        width: 100%;
        justify-content: center;
    }

    .search_button{
        position:absolute;
        visibility: hidden;
    }

    .search_button2{
        position:static;
        visibility: visible;
        border: none;
        border-radius: 0 1rem 1rem 0;
        padding: 0 1.5rem;
        background-color: #0065FC;
        cursor: pointer;
        color: white;  
        text-align: center;  
        padding: 0.5rem;
        width: 2rem;
    } 
}

/* ------------------------------------------------------------------------
 ----------SECTION FILTRES-------------------------------------------------
 ------------------------------------------------------------------------*/

.filtres{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.5rem;
    height: auto;
    padding: 0.2rem;
    flex-wrap: wrap;
}

.rond{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #deebff;
    border-radius: 50%;
}

.star_true, .fa-info, .rond .fas{
    color: #0065FC;
}

.star_false{
    color: #d9d9d9;
}

.filtre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem;
    border-radius: 2.5rem;
    border: 2px solid #d9d9d9;
    cursor: pointer;
}

.filtre:hover{
    background-color: #deebff;
}

.filtre span{
    margin: 0 1rem; 
    font-weight: bold; 
}

.info{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.logo_info{
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 0.6rem;
}

/*--------SMARTPHONE----------------------------------------------------*/

@media only screen and (max-width: 420px){
    .filtres h4{
        width: 100%;
    }
}

/* ------------------------------------------------------------------------
 ----------SECTION HEBERGEMENT + ASIDE TOP---------------------------------
 ------------------------------------------------------------------------*/

.section_hebergement{
    display: grid;
    grid-template-columns: 6fr 3fr; /* taille et nombre de colonnes */
    column-gap: 2rem; /* définit l'espace entre les colonnes */
    margin-top: 1rem; 
}

/* ------------------------------------------------------------------------
 ----------SECTION HEBERGEMENT---------------------------------------------
 ------------------------------------------------------------------------*/

.articles_hebergement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem; 
    row-gap: 2rem; /* définit l'espace entre les lignes */ 
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 2rem;
}

.articles_hebergement h2{
    grid-column: span 3;
    margin: 0;
}

.article_hebergement{
    background: white;
    box-shadow: 1px 1px 5px 5px rgb(214, 214, 214);
    border-radius: 1.25rem;
    padding: 0.3rem;
    cursor: pointer;
}

.article_hebergement:hover{
    background-color: #deebff;
}

.lien_hebergement{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article_hebergement h3{
    margin: auto 0.5rem auto 0.5rem;
}

.figure_hebergement{
    margin: 0;
    padding: 0;
}

.img_hebergement{
    object-fit: cover;
    width: 100%;
    height: 10rem;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 0.5rem;
}

.legend{
    margin: auto 0.5rem 0.5rem 0.50rem;
}

.legend p{
    margin: 0.5rem 0 0.5rem 0;
}

.afficher_plus{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.afficher_plus:hover{
    text-decoration: underline;
}

/* ------------------------------------------------------------------------
 ----------ASIDE TOP-------------------------------------------------------
 ------------------------------------------------------------------------*/

aside{
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    row-gap: 2rem;
    align-items: start;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 2rem;
}

aside h2{
    display: flex;
    justify-content: space-between;
}

.article_populaire{
    background: white;
    box-shadow: 1px 1px 5px 5px rgb(214, 214, 214);
    border-radius: 1.25rem;
    padding: 0.3rem;
    cursor: pointer;
    box-sizing: border-box;
    height: 11rem;
}

.article_populaire:hover{
    background-color: #deebff;
}

.lien_hebergement_pop{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.hebergement_pop{
    min-width: 40%;
    width: 40%;
    height: 100%;
}

.img_hebergement_pop{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover; 
} 

.legend_pop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.75rem 0.75rem 0.75rem 1rem;
}

.legend_pop h3{
    margin: 0;
}

.legend_pop p{
    margin: 0.5rem 0 0.5rem 0;
}

/*--------SMARTPHONE----------------------------------------------------*/

@media only screen and (max-width: 420px){

    .section_hebergement{
        grid-template-columns: 1fr;    
    }

    .articles_hebergement{
        grid-template-columns: 1fr; 
        grid-row: 2;   
        padding: 1rem;
        background-color: white;
        flex-direction: row-reverse;
    }

    .articles_hebergement h2{
        grid-column: span 1;
        padding: 1rem;
    }

    aside{
        grid-template-columns: 1fr;
        padding: 1rem;
        grid-row: 1;
        border-radius: 0;
    }
    
    .legend_pop{
    margin: 0.3rem 0.3rem 0.3rem 0.5rem;
    }

}

/*--------SMARTPHONE LANDSCAPE MODE---------------------------------------------------*/

@media only screen and (min-width: 421px) and (max-width: 767px){

    .section_hebergement{
        grid-template-columns: 1fr;  
    }
    .articles_hebergement{
        grid-template-columns: repeat(2,1fr); 
        grid-row: 2;   
        padding: 1rem;
        margin-top: 2rem;  
        flex-direction: row-reverse;
    }

    .articles_hebergement h2{
        grid-column: span 2;
        padding: 1rem;
    }

    aside{
        grid-template-columns: 1fr;
        padding: 1rem;
        grid-row: 1;
    }
    .legend_pop{
    margin: 0.3rem 0.3rem 0.3rem 0.5rem;
    }

}

/*--------Tablets in portrait mode---------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1023px){

    .section_hebergement{
        grid-template-columns: 2fr; 
    }

    .articles_hebergement{
        grid-row: 2;   
    }

    aside{
        grid-row: 1;
        margin-bottom: 2rem;
    }
    
}

/*--------Tablets in landscape mode, older desktop monitors---------------------------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1365px){
        
    .section_hebergement{
        grid-template-columns: 2fr; 
    }
    
    aside{
            grid-row: 1;
    }
}

/* ------------------------------------------------------------------------
 ----------SECTION ACTIVITES-----------------------------------------------
 ------------------------------------------------------------------------*/

.section_activites{
    display: grid;
/*     grid-template-columns:  repeat(4, 1fr); */
/*     grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

.section_activites h2{
    grid-column: span 4;
    margin: 0;
}

.lien_activite{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0px;
    border-radius: 1.25rem;
    box-shadow: 1px 1px 5px 5px rgb(214, 214, 214);
}

.lien_activite:hover{
    background-color: #deebff;
}

.lien_activite h3{
    margin: 1.5rem;
}

.figure_acivite{
    position: relative;
    flex: 1;
    margin: 0;
    padding: 0;
}

.img_activite{
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.art_1{
    grid-row: 2/7;
    grid-column: 1/2;
}

.art_2{
    grid-row: 2/5;
    grid-column: 2/3;
}

.art_3{
    grid-row: 2/7;
    grid-column: 3/4;
}

.art_4{
    grid-row: 2/3;
    grid-column: 4/5;
}

.art_5{ 
    grid-row: 6/7;
    grid-column: 2/3;   
}

.art_6{
    grid-row: 4/7;
    grid-column: 4/5;
}

/*--------SMARTPHONE----------------------------------------------------*/

@media only screen and (max-width: 420px){
    .section_activites{
        display: block;
        padding: 1rem;
    }

    .lien_activite{
        margin-top: 2rem;
    }

    .img_activite{
    position: static;
    object-fit: cover;
    width: 100%;
    height: 10rem;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    }
}

/*--------SMARTPHONE LANDSCAPE MODE, Tablets in portrait mode--------------------------------------*/

@media only screen and (min-width: 421px) and (max-width: 1023px){
    .section_activites{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:  auto repeat(3,1fr);
    }

    .section_activites h2{
        grid-column: span 2;
}

    .lien_activite{
        grid-row:inherit;
        grid-column:inherit;
        margin-top: 2rem;
/*         width: 40%; */
    }

    .img_activite{
    position: static;
    object-fit: cover;
    width: 100%;
    height: 10rem;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    }
}

/* ------------------------------------------------------------------------
 ----------FOOTER----------------------------------------------------------
 ------------------------------------------------------------------------*/

footer{
    box-sizing: border-box;
    margin-top: 3rem;
    background-color: #F2F2F2;
}

.section_footer{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
}

footer div{
    display: flex;
    flex-direction: column;
    margin: 3rem 16rem 3rem 0;
}

footer a{
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
    font-size: medium;
}

footer a:hover{
    text-decoration: underline;
}

/*--------SMARTPHONE----------------------------------------------------*/

@media only screen and (max-width: 420px){

    footer div{
        margin: 2rem 0 0 0;
        width: 100%;
    }

    .footer_3{
        margin-bottom: 2rem;
    }
    
}

/*--------SMARTPHONE LANDSCAPE MODE--------------------------------------*/

@media only screen and (min-width: 421px) and (max-width: 767px){

    footer div{
        margin: 2rem 0 0 0;
        width: 100%;
    }

    .footer_3{
        margin-bottom: 2rem;
    }

}

/*--------Tablets in portrait mode, large display smartphones landscape mode----------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1365px){
    
    .section_footer{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        padding: 2rem 0 2rem 0;
    }
    footer div{
        margin: inherit;
/*         margin: 2rem 4rem 0 0; */
/*         width: 100%; */
    }
}

/*--------Tablets in landscape mode, older desktop monitors---------------------------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1365px){


/*     footer div{
        margin: 3rem 8rem 3rem 0;
    } */
}