@font-face {
    font-family: 'raleway-thin';
    src: url('polices/Raleway/static/Raleway-Regular.ttf') format('truetype');
}

body{
    font-family: raleway-thin, 'Arial Black', Impact, serif;
    margin: 0;
}

#bloc_page{
    width: 90%;
    margin: auto;
}

scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

h1, h2{
    font-size: x-large;
}

.small{
    font-size: medium;
}

/* --- HEADER -----------------------------------------------------------------------------------------------------------------------------------------*/


header{
/*     background-color: red; */    
/*     display: flex;
    justify-content: space-between;
    align-items: center; */
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
    display: grid;
    align-items: center; /* Centrer verticalement  */
    box-sizing:content-box;
    margin: auto;

}

nav{
    grid-area: navbar;
/*     background-color: yellow; */
/*     list-style-type: none;
    display: flex;
    justify-content: space-around; */

}
.inscription{
    grid-area: button;
    font-weight: bold;
}

nav li{
    /* margin: 2em; */

}

header a{
    display: inline-block;
    padding: 2rem;
/*     font-weight: 500; */
    text-align: center;
    text-decoration: none;
    border-top: 3px solid transparent;
    
}

header a:hover{
    border-top: 3px solid #0065FC;
}


.lien2, .lien2:visited{
/*     color:inherit; */
    color: gray;
}

header a, header a:hover, header a:visited, .lien2:hover{
    color: #0065FC;
}



#logoReservia{
    grid-area: logo;
    width: 110px;
    height: auto;
}

#logoReservia img{
/*     background-color: yellow; */
    width: 100%;
    height: auto;
}

h2{
    margin: 0;
}



/* --- SECTION RECHERCHE -----------------------------------------------------------------------------------------------------------------------------------------*/

.search{
    margin-top: 10px;
    height: 40px;
    width: 300px;
    display: inline-flex;
}

.search_icon{
    background-color: #F2F2F2;
    padding: 3%;
    width: 20px;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.search_text{
    border-top: #F2F2F2  1px solid;
    border-right: none;
    border-bottom: #F2F2F2  1px solid;
    border-left: none;
    padding: 0 3%;
    width: 180px;
/*     box-sizing: border-box; */
/*     color: black; */
}

.search_text:focus {
    outline: none !important;
    border:1px solid #0065FC;
/*     box-shadow: 0 0 10px #719ECE; */
}

.search_format_text{
    font-size: 1rem;
    font-weight: bold;
}

.search_button{
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    background-color: #0065FC;
    cursor: pointer;
    color: white;
}

/* --- SECTION FILTRES -----------------------------------------------------------------------------------------------------------------------------------------*/

.filtres{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
/*     width: 800px; */
    height: 40px;
    padding: 0.2rem;
}

.rond{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #deebff;
    border-radius: 50%;
}

.star_true, .fa-info, .rond .fas{
    color: #0065FC;
}

.star_false{
    color: #d9d9d9;
}

.filtre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem;
/*     height: 3rem; */
/*     width: auto; */
    border-radius: 2.5rem;
    border: 2px solid #d9d9d9;
    cursor: pointer;
}

.filtre:hover{
    background-color: #deebff;
}


.filtre span{
    margin: 0 1rem; 
    font-weight: bold; 
}

.info{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.logo_info{
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 0.6rem;
}

/* --- SECTION HEBERGEMENT + ASIDE TOP-----------------------------------------------------------------------------------------------------------------------------------------*/

.section_hebergement{
    display: grid;
    grid-template-columns: 6fr 3fr; /* taille et nombre de colonnes */
    column-gap: 2rem; /* définit l'espace entre les colonnes */
    margin-top: 1rem;   
/*     width: 70%; */   
}

/* --- SECTION HEBERGEMENT -----------------------------------------------------------------------------------------------------------------------------------------*/

.articles_hebergement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem; 
    row-gap: 2rem; /* définit l'espace entre les lignes */ 
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 3rem;
}


.articles_hebergement h2{
    grid-column: span 3;
    margin: 0;
/*     grid-column: 1/-1; */
    max-height: 50%;
}



.article_hebergement{
    background: white;
    box-shadow: 1px 1px 5px 5px rgb(214, 214, 214);
/*     box-sizing:border-box;  */
 /*    height: 100%;  */
    border-radius: 1.25rem;
    padding: 0.3rem;
    cursor: pointer;
/*     transition-duration: 0.1s; */
}

.article_hebergement:hover{
    background-color: #deebff;
}

.lien_hebergement{
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0px,

}

.figure_hebergement{
    margin: 0;
    padding: 0;
}
.img_hebergement{
    object-fit: cover;
    width: 100%;
    height: 10rem;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}


.legend{
    margin: 0.5rem 0.75rem 0.5rem 0.75rem;
}

figcaption{
    font-weight: bold;
}
/* --- SECTION TOP HEBERGEMENT -----------------------------------------------------------------------------------------------------------------------------------------*/

aside{
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    row-gap: 2rem;
    align-items: start;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 1.5rem;
}

aside h2{
    display: flex;
    justify-content: space-around;
}
/*
.lien_hebergement_pop{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0px,
}

.article_populaire{
    background: white;
    box-shadow: 1px 1px 5px 5px rgb(214, 214, 214);
    margin-bottom: 3rem;

    border-radius: 1.25rem;
    padding: 5px;
    width: 450px;
    height: auto;





}

.hebergement_pop{
    width: 200px;
    height: 180px;
    


    padding: 0;
    margin-right: 1.5rem;
}

.img_hebergement_pop{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    
} */









/* --- SECTION ACTIVITES -----------------------------------------------------------------------------------------------------------------------------------------*/


.section_activite{
    margin-top: 3rem;
    background-color: #F2F2F2;
    border-radius: 1rem;
    width: 100%;
    height: 150px;
    padding: 1.5rem;
}


/* --- FOOTER -----------------------------------------------------------------------------------------------------------------------------------------*/


footer{
    margin-top: 3rem;
    background-color: #F2F2F2;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
}